
{% extends "base.html" %}

{% block title %}{{ article.title }} | {{ SITENAME }}{%endblock%}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  <meta name="description" content="{{article._summary|striptags|e}}" />

{% for tag in article.ogtags %}
    {% if tag[0] == 'og:description' %}
    <meta property="og:description" content="{{article._summary|striptags|e}}" />
    {% else %}
    <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
    {% endif %}
{% endfor %}

{% endblock %}

{% block content %}
<article id="content" class="body h-entry">
  <header>
    <h1 class="entry-title">{{ article.title|striptags }}</h1>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like"
         data-href="{{ SITEURL }}/{{article.url}}"
         data-layout="standard"
         data-action="like"
         data-show-faces="true">
    </div>
    <a href="https://www.pinterest.com/pin/create/button/">
        <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
    </a>

      <p><emph>(See more from <a href="{{ SITEURL }}/{{article.category.url}}">{{article.category}}</a>)</emph></p>

    <p>Filed under:
    <ul>{% for tag in article.tags %}<li><a href="/{{ tag.url }}">{{ tag }}</a></li>{% endfor %}</ul>
    </p>
  </header>

  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->


    {% if article.rating %}
    <div>
        <h2>Rating</h2>
        {% for _ in range(article.rating | int) %}⭐️{% endfor %}
    </div>
    {% endif %}

    {% if SHOW_STATS %}
    <hr>
    <h2>Article Stats</h2>
    <p>{{ article.stats['wc'] }} words and {{ article.stats['read_mins'] }} min read</p>
    <ul>
        <li>Flesch-kincaid Index/ Reading Ease: {{ article.stats['fi'] }}</li>
        <li>Flesch-kincaid Grade Level: {{ article.stats['fk'] }}</li>
    </ul>
    {% endif %}

  <hr>
  <h2>Comments</h2>
  
  <div id="disqus_thread"></div>
  <script>

   var disqus_config = function () {
       this.page.url = '{{SITEURL}}/{{ article.url }}';
       this.page.identifier = '{{ article.slug }}';
   };
   (function() { // DON'T EDIT BELOW THIS LINE
       var d = document, s = d.createElement('script');
       s.src = 'https://traditionalmead.disqus.com/embed.js';
       s.setAttribute('data-timestamp', +new Date());
       (d.head || d.body).appendChild(s);
   })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  
</article>

{% if article.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ article.title|striptags }}"
  },
  "author": {
    "@type": "Person",
    "name": "Ross Fenning"
  },
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ article.rating }}",
    "bestRating": "5"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Traditional Mead UK"
  }
}
</script>
{% endif %}

{% endblock %}

