
{% extends "base.html" %}
{% block title %}{{ page.title|striptags|e }} | {{ SITENAME }}{%endblock%}

{% block head %}
  {{ super() }}
  {% for keyword in page.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  <meta name="description" content="{{page.summary|striptags|e}}" />

{% for tag in page.ogtags %}
    <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
{% endfor %}

{% endblock %}

    {% block content %}
    <h1>{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}


{% endblock %}

