$backgroundColour: #F3EFCB;
$textColour: #822a37;
$linkColour: #2b5836;
$linkHighlightColour: #b0394b;

html, html:root, body {
  font-family: 'Raleway', sans-serif;
  //background-color: $backgroundColour;
  color: $textColour;
}

body > header {
  p {
    font-family: 'Metamorphous', cursive;
    text-shadow: 2px 2px 1px #DDAC58;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 16px;
    font-size: 300%;
  }
}

nav#menu {
  ul {
    margin: 0 auto;
    padding: 0;
    //max-width: 768px;
    text-align:center;
    li {
      //  width:160px;
      display:inline-block;
      text-align:center;
      padding: 1em;
    }
  }
  border-bottom: 1px solid rgba(0,0,0,.12);
}

main {
  img {
    float: right;
    max-width: 30%;
    max-height: 480px;
    margin-bottom: 1em;
    margin-left: 1em;
  }
  aside.buylinks {
    text-align: center;
    float: right;
    clear: both;
    max-width: 30%;
    border: 1px solid $linkColour;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 1em;
    h2 {
      font-size: 150%;
      margin: 0 auto;
      margin-bottom: 1em;
    }
    iframe {
      margin: 1em;
    }
    img {
      max-width: 100%;
      float: none;
      margin: 0 auto;
      margin-bottom: 1em;
    }
  }
  blockquote {
    border-left: 2px solid $linkColour;
  }
  @media screen and (min-width: 1000px) {
    max-width: 768px;
    float: left;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 5em;
    margin-right: 5em;
  }
  ul.producers {
    text-align: center;
    list-style: none;
    padding: 0;
    li {
      text-align: center;
      display: inline-block;
      vertical-align: top;
      width: 48%;
      @media screen and (min-width: 1000px) {
        width: 24%;
      }
      padding: 1em;
      height: 320px;
      img {
        float: none;
        display: block;
        max-width: 100%;
        height: 180px;
        width: auto;
        margin: 0 auto;
        margin-bottom: 1em;
      }
    }
  }
}

aside {
  clear: right;
  @media screen and (min-width: 1000px) {
    padding: 1em;
    float: right;
    max-width: 230px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 430px;
  }
  text-align: center;
  ul {
    padding: 0;
    li {
      list-style: none;
      text-align: center;
      display: inline-block;
      a {
        display: block;
        padding: 1em;
        border: 1px solid white;
        &:hover {
          text-decoration: none;
          border: 1px solid $linkHighlightColour;
        }
      }
    }
  }
}

a {
  color: $linkColour;
  font-weight: bold;
  &:hover {
    color: $linkHighlightColour;
  }
}

div.highlight pre {
  background-color: $backgroundColour;
  color: $linkColour;
  font-family: 'Metamorphous', cursive;
}

ol#post-list {
    list-style-type: none;
    li {
	clear: both;
	margin-bottom: 1em;
    }
}
